.page-template-contact {
	
	.entry-title {
		margin-bottom: 60px;	
	}
	
	.entry-content {
		//a:not([href*='mailto']) {
		a.register {
			@extend %button;
			background:  $medium-grey;
			color:#fff;
			
			&:hover {
				color: #fff;	
			}
		}
	}
}