/* CSS Document */

.tax-plan_cat {

	.site-main {
	
		@media #{$xxlarge-up} {
      		.floor-cats ul {
			
				display: inline-block;
				margin-bottom: 40px;
				
				li {
					list-style-type: none;
					display: inline-block;
					padding: 0 2px;
					
					a {
						display: block;
						background: #d9d7d7;
						font-family: 'ff-good-headline-web-pro-con', sans-serif;	
						letter-spacing: 0.03em;
						font-size: 18px;
						width: 160px;
						padding: 11px 0 12px;
						text-transform: uppercase;
						text-align: center;
						
						&:hover {
							background: $green;
							color: #fff;	
						}
					}
					
					&.current-menu-item a {
						background: $green;
						color: #fff;	
					}
				}
			}
		}
		
		ul.plans {
		
			li {
			
				a {
					display: block;
					background: #ebebeb;
					padding: 24px;	
					@extend .clearfix;
					
					&:hover {
						background: $green;
						
						div * {
							color: #fff;
						}
					}
				}
				
				img {
					width: 85px;
					float: right;	
					display: block;
				}
				
				div {
					overflow: hidden;	
					
					h3 {
						font-size: 30px;
						font-family: 'ff-good-headline-web-pro-con', sans-serif;
						letter-spacing: 0.03em;
						margin: 0;	
					}
					
					p {
						font-size: 20px;	
					}
				}
				
			}
			
		}
		
	}
	
}

.tax-plan_cat {

	h2.calla {
		font-size: 38px;
		font-family: "ff-avance-web-pro";
		margin-bottom: 5px;
		span {
			color: #970048;	
			padding-right: 20px;
		}
	}
	
	h2.cat-title {
		font-size: 45px;
		font-family: 'ff-good-headline-web-pro-con', sans-serif;
		letter-spacing: 0.03em;
		margin-bottom: 25px;
	}
	
}


.single-floor_plan {

	h2.calla {
		font-size: 38px;
		font-family: "ff-avance-web-pro";
		margin-bottom: 5px;
		span {
			color: #970048;	
			padding-right: 20px;
		}
	}
	
	.entry-title {
		font-size: 66px;	
	}
	
	
	.sidebar {
		
		h3 {
			font-family: 'ff-good-headline-web-pro-con', sans-serif;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			text-align: center;	
		}
		
		.sqft-chart {
			padding: 0 24px;	
		}
		
		th, td {
			text-align: left;
			font-weight: 400;	
			font-family: "ff-avance-web-pro";
			text-transform: uppercase;
			padding: 7px 0;
			color: #717271;
		}
		
		th {
			padding-right: 5px;	
		}
		
		table tr:last-child {
			border-top: 1px dotted $medium-grey;	
		}
		
		p {
			margin-bottom: 15px;	
		}
		
		.button {
			background: #d9d7d7;
			color: $medium-grey;
			width: 100%;
			
			&:hover {
				background: $green;
				color: #fff;	
			}
		}
		
	}
	
	.levels {
		
		margin-top: 20px;
		
		h5 {
			font-size: 18px;
			text-transform: uppercase;	
			margin-top: 40px;
			font-family: 'ff-good-headline-web-pro-con', sans-serif;
			letter-spacing: 0.03em;
		}
		
	}
	
}

.dropdown-toggle {
	display: none;	
}

@media only screen and (max-width : 1023px) {
			
	.dropdown-title {
		display: block;
		padding: 0 10px;
		cursor: pointer;
		position: relative;	
		background: $green;
		color: #fff;
		font-family: 'ff-good-headline-web-pro-con', sans-serif;
		font-size: 20px;
		height: 32px;
		line-height: 32px;
		text-transform: uppercase;
		
		&:after {
			content: "\f078";
			font-family: 'fontAwesome';	
			font-size: 12px;
			color: $grey;
			position: absolute;
			top: -1px;
			right: 10px;
		}
		
		&.open {
			color: #fff;
			
			&:after {
				color: #fff;	
			}
		}
	}
	
	.dropdown-title + div {
		display: none;	
	}
}


@media only screen and (max-width : 1023px) {
	
	.site-main {
		position: relative;	
	}
	
	.floor-cats {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;	
		
		.columns {
			padding: 0;	
		}
	}
	
	.dropdown-toggle {
		display: block;
	}
	
	.dropdown {
	  display:none;
	  position: absolute;
	  top: 100%;
	  z-index: 10;
	  background: $green;
	  width: 100%;
	  padding: 10px 0 10px 0;
	  
	  	ul {
			margin-bottom: 0;	
		}
		
		li {
		  list-style-type: none;
		  display: block;
		  a {
			text-decoration: none;
			padding: 5px 10px;
			display: block;
			color: #fff;
			font-size: 16px;
			&:hover {
				background: $green;
				color: $grey;	
			}
		  }
	   }
	}
	
	.open + .dropdown {
		display: block!important;	
	}
				
}