//
// Front Page
//

	
@media #{$xxlarge-up} {
	.no-touchevents .home .royalSlider {	
		//margin-bottom: 72px;
	}
}
	
	
.home {

	.site-content {
		//padding-bottom: 0;	
	}
	
	.content-area {
		//padding-top: 0;
	}
	
	.slideshow {
		position: relative;	
	}
	
	@media #{$xxlarge-up} {
    		
		.royalSlider,
		 .rsOverflow {
		   //height: 600px !important; // force 400px height
		   height: calc(100vh - 245px)!important;
		 }
	   
	}
	
	.entry-header {
		h1, h2.section-title {
			max-width: 100%;
			color: $green;
		}	
	}
}


.next-section {
	position: absolute;
	left: 50%;
	bottom: 30px;
	z-index: 999;
	transform: translateX(-50%);
	cursor: pointer;
	
	
	
	.fa-circle {
		color: #fff;	
	}
	
	.fa-chevron-down {
		color: #fff;	
	}
	
	display: none;
	
	@media #{$xlarge-up} {
    	display: block;  
	}
		
		
}