
.page-template-neighbourhood-gallery {

	.gallery-grid {
		margin-top: 65px;	
	}
	
}

.page-template-neighbourhood-map {

	.entry-content {
		//@extend %two-column-content;	
	}
	
}


#map-box {
	
	text-align: center;
	
	* {
		margin: 0;
		padding: 0;	
	}
	
	> span {
		position: relative;	
		display: inline-block;	
		vertical-align:top;
		line-height: 0;
		
		img {
			display: block;	
		}
	}
}

.mouse-xy {
	background: #000;
	padding: 10px;	
	
	label {
		color: #fff;	
		display: block;
	}
	
	input {
		width: 100%;
		padding: 5px;
		font-size: 15px;
		border: none;	
	}
}



.tooltip-element {
	
	@media only screen and (max-width : 1199px) {
		display: none;	
	}
	
	width: 20px!important;
	height: 20px!important	
}


.map-key {
	
	display: none;
	
	@media #{$xxlarge-up} {
    	display: block;  
		padding-left: 30px;
	}
	
	h3 {
		cursor: pointer;
		text-transform: uppercase;	
	}
	
	ul:not( .shops-services ) {
		display: none;		
	}
	
	ul {
		
		padding-top: 10px;
		
		li {
			list-style-type: none;
			font-size: 15px;
			position: relative;
			line-height: 1.1;
			padding-bottom: 5px;
			
			i {
				position: absolute;
				left: -20px;
				top: 0;
				font-style: normal;
			}
			
			span {
				font-size: 14px;
				display: block;	
				margin-top: 1px;
			}
			
			strong {
				font-weight: 600;	
			}
		}
		
	}
	
}

/*
shops-services     #edaa1e
recreation    #eeb111
schools    #a9b8cf
*/

$colors: ( shops-services: #edaa1e, recreation: $green, schools: #a9b8cf );

.map-key {
	
	h3 {
		font-family: 'ff-good-headline-web-pro-con', sans-serif;	
	}
	
	@each $name, $color in $colors {
	 
		h3.#{$name} {
			color: $color;
			font-size: 21px;
			font-weight: 700;	
			margin-top: 30px;
			border-top: 2px solid #{$color};
			padding-top: 5px;
			
			&:first-child {
				margin-top: 0;	
			}
		}
		
		ul.#{$name} {
			
			a:hover, a.active {
				color: $color;	
			}
				
		}
	
	}
	
}


@each $name, $color in $colors {
	
	.tpd-skin-#{$name} .tpd-content,
	.tpd-skin-#{$name} .tpd-title,
	.tpd-skin-#{$name} .tpd-close { color: #fff; }
	.tpd-skin-#{$name} .tpd-background-content { background-color: $color; }
	.tpd-skin-#{$name} .tpd-background {
	  border: none;
	}
	.tpd-skin-#{$name} .tpd-background-title { background-color: lighten($color, 10%); }
	/* line below the title */
	.tpd-skin-#{$name} .tpd-title-wrapper { border-bottom: 1px solid lighten($color, 90%); }
	/* shadow */
	.tpd-skin-#{$name} .tpd-background-shadow { box-shadow: none; }
	/* links */
	.tpd-skin-#{$name} a,
	.tpd-skin-#{$name} a:hover { color: lighten($color, 50%); }
	
	/* medium (default) */
	.tpd-size-medium .tpd-content,
	.tpd-size-medium .tpd-title {
	  padding: 10px;
	  font-size: 16px;
	  line-height: 16px;
	}
}