//
// General
//

html {
	overflow-y: scroll;	
}

html, body {
	max-width: 100%;	
}

body {
	background: #dadadb;
	
	@media #{$xxlarge-up} {
      	background: #fff;
	}
}

.site-content {
	background: #fff;	
}

.content-area {
	padding-top: 35px;
}

.site-content {
	padding-bottom: 65px;	
}

.secondary.content-area {
	padding-top: 0;	
}

.entry-footer {
	display: none;	
}


.slideshow {
	//overflow: hidden;	
}

.royalSlider {
	
	width: 100%;
	width: 100vw;
	height: auto;
	
	.rsGCaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 98;
	}
	
	.row {
		max-width: 960px;	
	}
	
	.rsCaption {
		
		padding: 24px 0 24px;
		
		@media #{$large-only} {
      		padding: 48px 48px 24px;
		}
		
		@media #{$xlarge-up} {
      		padding: 48px 0 24px;
		}
		
		p {
			color: #fff;
			font-family: "ff-good-headline-web-pro-con";
			font-size: 24px;
			line-height: 1;
			//max-width: 700px;
			text-transform: uppercase;
			margin: 0 0 21px 0;
			
			@media #{$medium-up} {
      			font-size: 40px;
				line-height: 1;
			}
			
			@media #{$large-up} {
      			font-size: 82px;
				line-height: 1;
				margin: 0;
			}
		}
		
		a {
			@extend %button;
			font-size: 17px;
			line-height: 1;
			
			@media #{$large-up} {
      			font-size: 24px;
			}
		}
		
	}
	
}


.full-width-photo {
	max-width: 2000px;
	margin: 0 auto;
		
	img {
		width: 100%;	
	}
	
	&.margin-top {
		margin-top: 35px;	
	}
}


%two-column-content {
	@media #{$xlarge-up} {
		column-count: 2;
		column-gap: 40px;	
		
		/*
		p {
			overflow: hidden;
			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
		}
		*/
	}
}



// Masonry Grid

.gallery-grid {
  margin-left: -20px;
}
.gallery-img-wrapper {
  padding: 0 0 20px 20px;
}
.gallery-img-wrapper img {
  width: 100%;
}
.s1of1,
.s1of2,
.s1of4,
.s3of4,
.s1of3,
.s2of3 {
  width:100%;
}

@media #{$medium-up} {

	.s1of2 {
	  width: 50%;
	}
	.s1of4 {
	  width: 25%;
	}
	.s3of4 {
	  width:75%;
	}
	.s1of3 {
	  width:33.3333%;
	}
	.s2of3 {
	  width:66.6666%;
	}
      
}


.gutter-sizer {
  width: 10px;
}
.gallery-img-wrapper a {
  display: block;
  position: relative;
}
.gallery-img-wrapper a::after {
  background-color: #4a443d;
  background-image: url("assets/images/plus.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 150ms linear 0s;
  width: 100%;
}
.gallery-img-wrapper a:hover::after {
  opacity: 0.5;
}


#gallery.secondary {
	padding-top: 35px;	
}


.hentry .columns:first-child {
	margin-bottom: 24px;	
}