.page-template-register {
	
	h1 {
		max-width: 100%;
		margin-bottom: 48px;	
	}
	
	.full-width-photo {
		max-width: 2000px;
		margin: 0 auto;
		
		img {
			width: 100%;	
		}
	}
	
	
	
	.q-container {
	  padding: 0 0 20px 0;
	}
	.radio-wrapper {
	  padding:0 0 20px 0;
	}
	label {
	  display: inline-block;
	  font-size: 18px;
	  padding: 0 0 10px;
	  vertical-align: middle;
	}
	
	input, select, textarea {
	  background-color: #f6f6f6;
	  border: 1px solid;
	  color: #666666;
	  font-family: ff-avance-web-pro;
	  font-size: 16px;
	  padding: 6px;
	  text-indent: 6px;
	  transition: all 250ms ease 0s;
	}
	input[type="text"] {
	  border: 1px solid #786e62;
	  width: 100%;
	}
	select {
	  border: 1px solid #786e62;
	  border-radius:0;
	  -webkit-appearance:none;
	  -moz-appearance: none;
	  text-indent: 0.01px;
	  text-overflow: '';
	  width:100%;
	}
	select, input[type="text"] {
	  height: 32px;
	}
	.select-box {
	  position:relative;
	}
	.select-box:after {
	  color: #666666;
	  content: "\25BC";
	  font-size:14px;
	  pointer-events:none;
	  position: absolute;
	  right: 7px;
	  top: 9px;
	}
	textarea {
	  width: 100%;
	  height: 100px;
	  border: 1px solid #786e62;
	}
	input[type="submit"] {
	  background: #707271 none repeat scroll 0 0;
	  color: #fff;
	  font-family: ff-good-headline-web-pro-con;
	  font-size: 20px;
	  letter-spacing: 2px;
	  line-height: 1;
	  margin: 20px 0;
	  padding: 6px 30px 8px 32px;
	  text-indent: 0;
	  text-transform: uppercase;
	  transition: all 150ms linear 0s;
	}
	input[type="submit"]:hover {
	  background: #82BC00 none repeat scroll 0 0;
	}
	.error-field {
	  border-color:red !important;
	}
	.label-error {
	  color:red;
	}
	input[type="radio"] {
	  display: inline-block;
	  vertical-align: middle;
	  width: auto;
	}
	.checkbox-wrapper {
	  display: inline-block;
	  width: 50%;
	  padding: 0px 0px 8px;
	}
	#disclaimer {
	  line-height: 1.4;
	  padding:20px 0 0 0;
	}
	#disclaimer > p {
	  font-size: 13px;
	}
	#submit-wrapper {
	  text-align: right;
	}
	.math-container > label {
	  padding: 0;
	}
	.math-container > input {
	  display: block;
	  font-size: 16px;
	  margin: 10px 0 0 0;
	  padding: 8px;
	  text-align: center;
	  text-indent:0;
	  vertical-align: middle;
	  width: 70px;
	  
	  @media #{$large-up} {
      		margin: 0 0 0 14px;
			display: inline-block;
	  }
	}
	/* http://www.csscheckbox.com/ */
	input[type=checkbox].css-checkbox {
		position: absolute; 
		overflow: hidden; 
		clip: rect(0 0 0 0); 
		height:1px; 
		width:1px; 
		margin:-1px; 
		padding:0;
		border:0;
	}
	input[type=checkbox].css-checkbox + label.css-label {
		padding-left:20px;
		height:16px; 
		display:inline-block;
		line-height:16px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:16px;
		vertical-align:middle;
		cursor:pointer;
		width:80%;
	}
	input[type=checkbox].css-checkbox:checked + label.css-label {
		background-position: 0 -16px;
	}	
	input[type=radio].css-checkbox {
	  position:absolute; 
	  z-index:-1000; 
	  left:-1000px; 
	  overflow: hidden; 
	  clip: rect(0 0 0 0); 
	  height:1px; 
	  width:1px; 
	  margin:-1px; 
	  padding:0; 
	  border:0;
	}
	input.css-checkbox[type="radio"] + label.css-label {
	  background-position: 0 0;
	  background-repeat: no-repeat;
	  cursor: pointer;
	  display: inline-block;
	  font-size: 15px;
	  height: 15px;
	  line-height: 15px;
	  padding: 0 18px 0 20px;
	  vertical-align: middle;
	}
	input[type=radio].css-checkbox:checked + label.css-label {
	  background-position: 0 -15px;
	}
	label.css-label {
	  background-image:url('assets/images/css-radio.png');
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
		
}
