//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

.alignleft {
	display: inline;
	float: left;
	margin: 0 24px 0 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 0 0 0 24px;
}

.aligncenter {
	margin: 0 auto;
}
