//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

// Iframes

embed,
iframe,
object {
	max-width: 100%;
}

hr {
	width: auto;
	height: 1px;

	background-color: #000;
	border: 0;
	margin: 0 0 24px 0;
}

figure {
	margin: 0;
}

// Lists

ul,
ol {
	margin: 0 0 24px 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 24px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 24px 24px 0;
}

// Tables

table {
	width: 100%;
	height: auto;
	
	margin: 0 0 24px 0;
}

th {
	font-weight: 700;
}
