/* CSS Document */

.before-header {
	width: 100%;
	background: #fff;
	display: table;
	
	> * {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
	}
	
	.townline-logo {
		display: inline-block;
		height: 26px;
		img {
			height: 26px;
		}
		
		@media only screen and (max-width : 360px) {
			
			
			overflow: hidden;
			
			img {
				position: relative;
				left: -3px;	
			}
		}
		
		
		@media only screen and (min-width : 480px) {
			max-height: 40px;
			height: auto;
			
			img {
				height: auto;	
			}
		}
		
	
	}
	
	.be-social-widget {
		text-align: right;
		width: 45%;
	}
}

