// Buttons

%button {
	background: #a0968a;
    color: #fff;
    display: inline-block;
    font-family: 'ff-good-headline-web-pro-con', sans-serif;
	letter-spacing: 0.03em;
    font-size: inherit;
    padding: 3px 16px 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms linear 0s;
    vertical-align: middle;	
	
	&:hover {
		background: #82BC00;	
	}
}

.button {
	@extend %button;
	text-align: center;
}

a[href$=".pdf"] { 
	@extend %button;
	background: #d9d7d7;
	color: $medium-grey;
	
	&:hover {
		color: #fff;	
	}
}