//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------



.site-footer {
	background: inherit;
    padding: 24px 0;
	background: $grey;
	text-align: center;
	
	ul {
		
		@media #{$xxlarge-up} {
      		display: table;
			width: 100%;
		}
		
	}
	
	li {
		list-style-type: none;
		margin: 0;
		display: block;	
		line-height: 20px;
		padding: 10px 20px;
		font-family: "ff-good-headline-web-pro-con";
		
		@media #{$medium-up} {
      		display: inline-block;	
 		}
		
		&.divider {
			display: block;	
			padding: 0!important;
			line-height: 1;
		}
		
		@media #{$large-only} {
      		
			&:last-child {
				display: block;	
			}
		}
		
		
		@media #{$xxlarge-up} {
      		display: table-cell;
			padding: 0 0 0 44px;
			vertical-align: middle;
			
			&:first-child {
				padding-left: 0;	
			}
			
			&.divider {
				display: none!important;	
			}
		}
		
		a {
			color: #707271;
			font-size: 18px;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;	
			font-family: ff-good-headline-web-pro-con;
		}
		
		a.map {
			display: block;
			position: relative;	
			
			&:hover {
				color: $green;	
			}
		}
		
		&.register a {
			background: #707271 none repeat scroll 0 0;
			color: #d1ccc6;
			font-family: "ff-good-headline-web-pro-con";
			font-size: 21px;
			padding: 5px 30px 7px;
			text-transform: uppercase;
			white-space: nowrap;
			
			&:hover {
				background: #82BC00;
				color: #fff;	
			}	
		}
		
		a[href^="mailto:"] {
			position: relative; 
			padding-left: 24px;
			&:before {
				@include at2x('assets/images/email', 17px, 17px);
				content: "";
				height: 17px;
				left: 0;
				position: absolute;
				top: 2px;
				width: 17px;
			}
		}
			
		a[href^="tel:"] {
			
		}
	}
	
	.disclaimer {
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
		font-size: 8px;
		line-height: 12px;
		text-transform: uppercase;	
		
		padding-top: 20px;
	}
}



@media #{$xxlarge-up} {
   .no-touchevents .site-footer {	
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		width: 100%;
		z-index: 101;  
		min-height: 72px;
	}
	
	.no-touchevents body {	
		margin-bottom: 72px;
	}
}