//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-header {
	
	position: relative;
	background: #ebebeb;
	padding: 12px 0;
	
	@media #{$large-up} {
      	padding: 0;
	}
	
	.site-title {
		
		text-align: center;
		@media #{$medium-only} {
      		margin-bottom: 12px;
		}
		@media #{$large-up} {
			padding-top: 8px!important;
			padding-bottom: 8px!important;
		}
		
		img {
			width: 90px;	
		}
	}
	
	
	
}

