// Mobile Navigation

@media only screen and (max-width:979px) {
				
	
	.nav-mobile {
		
		> ul {
			padding: 10px 30px;	
			margin: 0;
			
			> li > a {
				font-weight: 600;	
			}
			
			ul {
				padding: 0;	
				margin: 0;
			}
		}
		
		li {
			list-style-type: none;
			padding: 10px 0;
			
			a {
				color: #eee;
				font-weight: normal;
				font-size: 20px;
				font-family: 'ff-good-headline-web-pro-con', sans-serif;
				letter-spacing: 0.03em;
				&:hover {
					color: #fff;
				}
			}
		}
		
		ul ul li {
			padding: 5px 0;	
			
			a {
				font-weight: normal;
				font-size: 16px;	
			}
		}
	}
	
}