//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $link-color;

	&:visited {
		color: $link-color-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $link-color-hover;
	}
}

@media #{$large-up} {
      

	.menu {
		margin: 0 auto;
		padding: 0;
	
		list-style: none;
	
		li {
			margin: 0 10px 0 0;
		}
	
		ul {
			margin: 0;
			padding: 0;
	
			list-style: none;
		}
	
		
		display: inline-block;
		
		&.dropdown {
		
			// Sub-menu
			ul {
				left: -999em;
				position: absolute;
				top: 100%;
				z-index: 99999;
		
				// Sub-sub menu
				ul {
					left: -999em;
					top: 0;
				}
		
				// Sub-menu items
				li {
		
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
		
				// Sub-menu links
				a {
					
					height: auto;
				}
		
				:hover > a,
				.focus > a {
				}
		
				a:hover,
				a.focus {
				}
			}
		
			// Display sub-menu on hover
			li:hover > ul,
			li.focus > ul {
				width: 170px;
				left: 50%;
				transform: translateX(-50%);
			}
		
			// Menu items
			li {
				//float: left;
				position: relative;
		
				&:hover > a,
				&.focus > a {
				}
			}
		}
		
		
	
		// Menu hyperlinks
		li a {
			display: block;
			text-decoration: none;
			font-family: 'ff-good-headline-web-pro-con', sans-serif;
			letter-spacing: 0.03em;
		}
	
		// Current items
		.current_page_item a,
		.current-menu-item a {
		}
	}

}


// Main navigation (after creating a menu in the dashboard)
.main-navigation {

	// Menu area
	ul {
		display: none;

      	display: block;
		text-align: center;
		
		> li {
				
		}
		
		
		.site-title {
			text-align: center;
		}
		
		li {
			
			margin: 0 20px;
			
			a {
				font-size: 21px;
				line-height: 36px;
				text-decoration: none;
				position: relative;
				
				color: #717271;
				
				span {
					border-bottom: 2px solid transparent;
					padding-bottom: 3px;	
				}
			}
			
		}
		
		
		
		// Current items
		.current_page_item a,
		.current-menu-item a,
		.current-menu-parent > a,
		> li:hover > a {
			position: relative;
			color: $green;	
			span {
				border-bottom: 2px solid;
				padding-bottom: 3px;
				width: 100%;
				transition: all 150ms linear;	
			}
			
		}
		
		> li:last-child > a,
		> li.menu-divider-item a {
			span {
				border: none;
				padding: 0;
			}
		}
			
	}
	
	.menu {
		
		width: 80%;
		margin: 0 auto;
		position: relative;
		
		display: table;	
		table-layout: fixed;
		
		> li {
			display: table-cell;	
			width: calc(100%/7);	
			
			/* first 2 items count as 3/2 */
			&:nth-child(-n+2) {
				width: calc(150%/7);	
			}
			
			> a {
				display: inline-block;	
				text-transform: uppercase;
				//transition: all 200ms linear 0s;
			}
		}
	}
	
	.menu > li:last-child {
		
		> a {
			background: $green none repeat scroll 0 0;
			color: #ffffff;
			font-family: "ff-good-headline-web-pro-con";
			font-size: 21px;
			padding: 0 10px 0;	
			text-transform: uppercase;
			
			span {
				border: none;
				padding: 0;
			}
			
			&:hover {
				background: #707271;
				color: #fff;	
			}
			
		}
	}
	
	
	// Sublevels
	.sub-menu {
		background: #d9d7d7;
		
		> .menu-item {
			display: block;
			text-align: center;
			padding: 0;
			border-top: 2px solid #ebebeb;
			margin: 0;
			
			&:first-child {
				border: none;	
			}
			
			a {
				font-size: 17px;
				position: relative;
				font-weight: 400;
				padding: 0 10px;
				color: #717271;
				
				&:hover {
					background: $green;
					color: #fff;	
				}
				
				
			}
			
			span {
					border: none!important;	
			}
		}
	
		.sub-menu {}
	}

	
}

// Small menu
.menu-toggle {
	display: block;

	@media #{$medium-up} {
      	display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 24px 0;
		overflow: hidden;
	}

	& .nav-previous {
		width: 50%;
		height: auto;

		float: left;
	}

	& .nav-next {
		width: 50%;
		height: auto;

		float: right;
		text-align: right;
	}
}
