//--------------------------------------------------------------
// Sidebars
//--------------------------------------------------------------


.sidebar {
	
	.widget {

		ul {
			li {
				list-style-type: none;
			}
		}
	}


}


.sidebar-primary {
		
	
}