/*
font-family: 'oswalddemibold';
font-family: "museo-sans",sans-serif;
*/

html {
	font-size: 100%;	
}

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; 
}

body {
	font-family: $paragraph-font-family;
	font-style: normal;
	font-weight: $paragraph-font-weight;
	font-size: $paragraph-font-size;
	color: $paragraph-font-color;
	-webkit-font-smoothing: antialiased;
}

hr {
	height: 1px;
	background: #cecece;
	border: none;
	margin-bottom: 24px;	
}


a {
	text-decoration: none;
}

a {
	color: $link-color;
	text-decoration: none;
		
	&:hover {
		color: $link-color-hover;
	}
}

strong {
	font-weight: 600;	
}



/* Headings
--------------------------------------------- */
	


h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-weight: normal;	
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {

	a {
		color: $link-color;	
	}
}

h1, h2.section-title {	
	font-family: 'ff-good-headline-web-pro-con', sans-serif;
	font-size: 38px;
	color: #707271;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	
	@media #{$medium-up} {
    	max-width: 50%;  
	}
	
	@media only screen and (max-width : 639px) {
		
		font-size: 32px;
		
		br {
			display: none;	
		}
	}
}

h2 {	
	color: #707271;
    font-family: 'ff-good-headline-web-pro-con', sans-serif;
	letter-spacing: 0.03em;
    font-size: 34px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 18px;	
}

.site-main {

	h1 {
		margin-bottom: 20px;	
	}
	
	p, ul {
		margin-bottom: $paragraph-margin-bottom;
	}
	
	li {
	
	}
	
	p {
		line-height: $paragraph-line-height;
	}
	
}
		


