//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.be-social-widget {
	
	ul {
		
		line-height: 1;
		
		li {
			display: inline-block;
			list-style-type: none;
			position: relative;
			vertical-align: top;
			
			&:before {
				background: #b2b2b2;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 1px;
				z-index: 0;
			}
			
			a {
				color: #b3b4b4;
				padding: 0 6px;
				display: block;
				z-index: 1;
				position: relative;
				text-align: center;
				line-height: 26px;
		
				
				@media only screen and (min-width : 480px) {
					padding: 0 6px;
					min-width: 42px;
					line-height: 40px;
				}
					
				
				&:hover {
					color: $medium-grey;	
				}
			}
			
			&.lang {
				&:before {
					background: #b2b2b2;
					content: "";
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
				
				a {
					color: #fff;	
					font-size: 12px;	
 					padding: 0 3px;
					
					@media only screen and (min-width : 480px) {
						font-size: 14px;	
						padding: 0 2px;
 					}
					
					&:hover {
						color: $medium-grey;	
					}
				}
			}
		}
	}
}