//
// Gravity Forms
//  --------------------------------------------------

.gform_wrapper {
	max-width: 100%!important;
	
	label {
		font-weight: normal!important;	
	}
}

.gform_wrapper textarea.medium {
	width: 100%!important;	
}

body img.gform_ajax_spinner {
   display: none!important;
}


body .gform_wrapper input[type=text],
body .gform_wrapper input[type=url],
body .gform_wrapper input[type=email],
body .gform_wrapper input[type=tel],
body .gform_wrapper input[type=number],
body .gform_wrapper input[type=password],
body .gform_wrapper select {
	background: #FFF;
	border: 1px solid #ccc;
	padding: 4px 4px;
	width: 100%!important;
}


body .gform_wrapper textarea {
	background: #FFF;
	border: 1px solid #ccc;
	padding: 4px 4px;
	width: 100%;
}

body .top_label li.gfield.gf_left_half , .top_label li.gfield.gf_right_half  {
	width: 100%;
	float: none;
	
	@media #{$large-up} {
    	width: 50%;  
	}
}

.gform_wrapper {
		
		.gfield {
			padding-bottom: 0!important;	
		}
}
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	//font-size: 18px;
	
}
body  div.gform_wrapper .top_label .gfield_label {
	font-weight: 400;
}
body  div.gform_wrapper .ginput_complex label {
	padding: 0;
}

body  div.gform_wrapper li,
body  div.gform_wrapper form li {
	//margin: 8px 0 0!important;
}

.gform_wrapper .top_label li.gfield.gf_left_half {
   // margin: 8px 0 0!important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
   // margin: 8px 0 0!important;
}

body  div.gform_wrapper .gform_footer {

	margin-top: 10px;
	padding-top: 10px;
	text-align: right;

	input[type="submit"] {
		outline: none;
		border: 2px solid transparent;
		color: #fff;
		text-align: center;
		border-radius: 40px!important;
		padding: 0 20px!important;
		background:	#f25213;
		font-size: 18px;
		line-height: 30px;
		font-weight: 500;
	
		&:hover {
			@include linear-gradient(to right, #ff0000, #fb8e20);
			border: 2px solid #fff;
		}
		
		
	}
}

.gform_wrapper ul.gfield_radio li, .gform_wrapper ul.gfield_checkbox li {
	overflow: hidden;
	padding-left: 5px!important;
}

.gform_body, .gform_footer {
	@include clearfix;
}


// Fix cut off raido buttons

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"], .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
width: 20px !important;
}

.gform_wrapper ul.gfield_radio li, .gform_wrapper ul.gfield_checkbox li {
  overflow: visible!important;
}



// hide field labels
.gform_wrapper .hide-labels .top_label .gfield_label {
	display: none!important;
}
	
// detect browser using JS and show labels for ie because it doesn't support place holders
//.ie9  .gform_wrapper .hide-labels .top_label .gfield_label {
.ie9 .gform_wrapper .top_label .gfield_label {
		display: inline-block!important;
}
